<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/css/styles_dashboard.css">
</head>

<body>
    <div id="header">
        <div style="display: flex;justify-content: space-between;align-items: center;">
            <img src="/static/img/logo.png" alt="Logo" id="logo">
            <span id="logo-text">bilibili Recommender</span>
        </div>
        <div style="display: flex; align-items: center;">
            <div id="avatar-container">
                <img src="/static/img/avatar.jpg" alt="Avatar" id="avatar">
            </div>
            <button id="logout-btn" class="logout-btn">Log Out</button>
        </div>
    </div>

    <div id="button-container">
        <button id="hot-video-btn" class="video-btn">热门精选</button>
        <button id="explore-btn" class="video-btn">兴趣探索</button>
    </div>

    <div id="main-content">
        <div id="recommended-videos">
            <h2 style="text-align: center;">Your Interests</h2>
            <div id="video-list">

            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // logout
            document.getElementById('logout-btn').addEventListener('click', function () {
                fetch('/logout', { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.success) {
                            window.location.href = '/login';
                        }
                    })
                    .catch(error => {
                        console.error("Logout error:", error);
                    });
            });
        });
    </script>
</body>

</html>